/_build
/db
/deps
/*.ez
/files
/tenants
# Generated on crash by the VM
erl_crash.dump
.vs_code
.elixir_ls
.iex.exs
.tool-versions
/cover/
/deps/
/doc/
/.fetch
erl_crash.dump
*.ez
recipeboard-*.tar
/priv/static/
